Repository starlingx/update: changes, and which Zuul jobs are due for each by the changed paths.
All: tsconfig-tox-py27, tsconfig-tox-py36, patch-tox-py27, patch-tox-py36

.zuul.yaml:

---
- project:
    templates:
      - build-openstack-docs-pti
    check:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - flock-devstack-update
        - openstack-tox-linters
        - openstack-tox-pep8
        - tsconfig-tox-py27
        - tsconfig-tox-py36
        - patch-tox-py27
        - patch-tox-py36
        - stx-updates-pylint
    gate:
      jobs:
        - build-openstack-api-ref
        - build-openstack-releasenotes
        - flock-devstack-update
        - openstack-tox-linters
        - openstack-tox-pep8
        - tsconfig-tox-py27
        - tsconfig-tox-py36
        - patch-tox-py27
        - patch-tox-py36
        - stx-updates-pylint
    post:
      jobs:
        - publish-stx-api-ref
        - publish-stx-tox
        - publish-stx-releasenotes

- job:
    name: tsconfig-tox-py27
    parent: tox
    files:
      - tsconfig/tsconfig/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c tsconfig/tsconfig/tox.ini

- job:
    name: tsconfig-tox-py36
    parent: tox
    files:
      - tsconfig/tsconfig/*
    vars:
      tox_envlist: py36
      tox_extra_args: -c tsconfig/tsconfig/tox.ini

- job:
    name: patch-tox-py27
    parent: tox
    required-projects:
      - starlingx/config
    files:
      - cgcs-patch/cgcs-patch/*
    vars:
      tox_envlist: py27
      tox_extra_args: -c cgcs-patch/cgcs-patch/tox.ini

- job:
    name: patch-tox-py36
    parent: tox
    required-projects:
      - starlingx/config
    files:
      - cgcs-patch/cgcs-patch/*
    vars:
      tox_envlist: py36
      tox_extra_args: -c cgcs-patch/cgcs-patch/tox.ini

- job:
    name: stx-updates-pylint
    parent: openstack-tox-pylint
    required-projects:
      - starlingx/config
      - starlingx/fault
      - starlingx/integ

- job:
    name: flock-devstack-update
    parent: flock-devstack-base-min
    required-projects:
      - starlingx/integ
    vars:
      tox_envlist: functional
      devstack_services:
        # StarlingX services
        sw-patch: true
        tsconfig: true
      devstack_plugins:
        # integ: https://opendev.org/starlingx/integ
        update: https://opendev.org/starlingx/update

Add test coverage for cgcs-patch/utils.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_utils.py
  cgcs-patch/cgcs-patch/cgcs_patch/utils.py
Due: patch-tox-py27, patch-tox-py36

Add test framework for patch alarm manager
  .zuul.yaml
  cgcs-patch/cgcs-patch/cgcs_patch/patch_verify.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_basics.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_controller.py
  cgcs-patch/cgcs-patch/pylint.rc
  patch-alarm/patch-alarm/.coveragerc
  patch-alarm/patch-alarm/.stestr.conf
  patch-alarm/patch-alarm/patch_alarm/patch_alarm_manager.py
  patch-alarm/patch-alarm/patch_alarm/tests/__init__.py
  patch-alarm/patch-alarm/patch_alarm/tests/test_patch_alarm.py
  patch-alarm/patch-alarm/pylint.rc
  patch-alarm/patch-alarm/requirements.txt
  patch-alarm/patch-alarm/setup.cfg
  patch-alarm/patch-alarm/setup.py
  patch-alarm/patch-alarm/test-requirements.txt
  patch-alarm/patch-alarm/tox.ini
  tox.ini
  tsconfig/tsconfig/pylint.rc
  tsconfig/tsconfig/tox.ini
Due: tsconfig-tox-py27, tsconfig-tox-py36, patch-tox-py27, patch-tox-py36

Fix the error links for starlingx update docs
  doc/source/index.rst
Due: none

Add 'find' in whitelist_externals in tox.ini
  tox.ini
Due: none

Add missing dependency in cgcs-patch for python-smartpm
  cgcs-patch/centos/cgcs-patch.spec
Due: none

Restrict permissions on patching logfiles
  cgcs-patch/centos/build_srpm.data
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
Due: patch-tox-py27, patch-tox-py36

Enable Unused Variable
  cgcs-patch/cgcs-patch/cgcs_make_patch/make_patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/api/controllers/root.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_verify.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_controller.py
  cgcs-patch/cgcs-patch/pylint.rc
  cgcs-patch/cgcs-patch/tox.ini
  pylint.rc
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
Due: tsconfig-tox-py27, tsconfig-tox-py36, patch-tox-py27, patch-tox-py36

Update .gitreview for r/stx.2.0
  .gitreview
Due: none

Set PLATFORM_RELEASE=19.08
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
Due: tsconfig-tox-py27, tsconfig-tox-py36

Use Zuul templates
  .zuul.yaml
Due: none

Config file changes to remove 'requests-toolbelt ' after relocation to 'stx-integ'
  centos_pkg_dirs
Due: none

Config file changes to remove 'tsconfig ' after relocation to 'stx-config'
  centos_dev_wheels.inc
  centos_iso_image.inc
  centos_pkg_dirs
  centos_stable_wheels.inc
Due: none

Subdirectories 'requests-toolbelt ' relocated to repo 'stx-integ'
  requests-toolbelt/PKG-INFO
  requests-toolbelt/centos/build_srpm.data
  requests-toolbelt/centos/requests-toolbelt.spec
Due: none

Subdirectories 'tsconfig ' relocated to repo 'stx-config'
  .zuul.yaml
  cgcs-patch/cgcs-patch/tox.ini
  devstack/lib/update
  devstack/settings
  patch-alarm/patch-alarm/tox.ini
  tox.ini
  tsconfig/.gitignore
  tsconfig/LICENSE
  tsconfig/PKG-INFO
  tsconfig/centos/build_srpm.data
  tsconfig/centos/tsconfig.spec
  tsconfig/debian/control
  tsconfig/debian/rules
  tsconfig/tsconfig/.coveragerc
  tsconfig/tsconfig/.stestr.conf
  tsconfig/tsconfig/LICENSE
  tsconfig/tsconfig/pylint.rc
  tsconfig/tsconfig/requirements.txt
  tsconfig/tsconfig/scripts/tsconfig
  tsconfig/tsconfig/setup.cfg
  tsconfig/tsconfig/setup.py
  tsconfig/tsconfig/test-requirements.txt
  tsconfig/tsconfig/tox.ini
  tsconfig/tsconfig/tsconfig/__init__.py
  tsconfig/tsconfig/tsconfig/tests/__init__.py
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
  tsconfig/tsconfig/tsconfig/tsconfig.py
Due: tsconfig-tox-py27, tsconfig-tox-py36, patch-tox-py27, patch-tox-py36

fix path to release-info.inc in patch_build.sh
  extras/scripts/patch_build.sh
Due: none

Fix cgcs-patch tox failure
  .zuul.yaml
  cgcs-patch/cgcs-patch/tox.ini
Due: patch-tox-py27, patch-tox-py36

Introduce patch apply/remove semantic support
  cgcs-patch/cgcs-patch/cgcs_patch/api/controllers/root.py
  cgcs-patch/cgcs-patch/cgcs_patch/constants.py
  cgcs-patch/cgcs-patch/cgcs_patch/exceptions.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
Due: patch-tox-py27, patch-tox-py36

Add new patch metadata to block apply in upgrade
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
Due: patch-tox-py27, patch-tox-py36

Build layering, add layer build config file
  centos_build_layer.cfg
Due: none

Turn off devstack as a zuul job
  .zuul.yaml
Due: none

Add patch API to determine if patches are available
  cgcs-patch/bin/sw-patch.completion
  cgcs-patch/cgcs-patch/cgcs_patch/api/controllers/root.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
Due: patch-tox-py27, patch-tox-py36

Improved patching robustness on AIO-SX
  cgcs-patch/bin/sw-patch-init.sh
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
Due: patch-tox-py27, patch-tox-py36

Update .gitreview for r/stx.3.0
  .gitreview
Due: none

Enable tox bandit checks for python in update repo
  .zuul.yaml
  cgcs-patch/cgcs-patch/tox.ini
  patch-alarm/patch-alarm/tox.ini
  tox.ini
Due: patch-tox-py27, patch-tox-py36

Cleaning up pylint settings for cgcs patch
  cgcs-patch/cgcs-patch/pylint_make_patch.rc
  cgcs-patch/cgcs-patch/tox.ini
Due: patch-tox-py27, patch-tox-py36

Address python3 pylint errors and warnings
  cgcs-patch/cgcs-patch/cgcs_patch/api/controllers/root.py
  cgcs-patch/cgcs-patch/cgcs_patch/messages.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_controller.py
  cgcs-patch/cgcs-patch/pylint.rc
Due: patch-tox-py27, patch-tox-py36

Fix zuul tox flake8 failures from newer version of hacking
  cgcs-patch/cgcs-patch/cgcs_make_patch/make_patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/authapi/auth_token.py
  cgcs-patch/cgcs-patch/cgcs_patch/authapi/policy.py
  cgcs-patch/cgcs-patch/cgcs_patch/base.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
  cgcs-patch/cgcs-patch/test-requirements.txt
  cgcs-patch/cgcs-patch/tox.ini
  patch-alarm/patch-alarm/test-requirements.txt
Due: patch-tox-py27, patch-tox-py36

Remove use of rpmUtils.miscutils from cgcs-patch
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_utils.py
Due: patch-tox-py27, patch-tox-py36

Clean up pylint W1201 logging-not-lazy in cgcs-patch
  cgcs-patch/cgcs-patch/cgcs_patch/api/controllers/root.py
  cgcs-patch/cgcs-patch/cgcs_patch/base.py
  cgcs-patch/cgcs-patch/cgcs_patch/messages.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/pylint.rc
Due: patch-tox-py27, patch-tox-py36

.gitreview: Update for f/centos8 feature branch
  .gitreview
Due: none

Migrate patch-agent to use DNF for swmgmt
  cgcs-patch/centos/cgcs-patch.spec
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/tests/test_patch_agent.py
  cgcs-patch/cgcs-patch/pylint.rc
  cgcs-patch/cgcs-patch/test-requirements.txt
Due: patch-tox-py27, patch-tox-py36

Cleanup smartpm references
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
  smart-helper/LICENSE
  smart-helper/files/etc.rpm.platform
  smart-helper/files/etc.rpm.sysinfo.Dirnames
Due: patch-tox-py27, patch-tox-py36

Add flake8-bugbear and address warnings
  cgcs-patch/cgcs-patch/cgcs_make_patch/make_patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/api/controllers/root.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
  cgcs-patch/cgcs-patch/tox.ini
  patch-alarm/patch-alarm/tox.ini
Due: patch-tox-py27, patch-tox-py36

CentOS 8: update patch-alarm to use python3
  patch-alarm/centos/patch-alarm.spec
  patch-alarm/patch-alarm/setup.py
  patch-alarm/scripts/bin/patch-alarm-manager
Due: none

Update landing pages for docs, api-ref, and release notes:
  api-ref/source/conf.py
  api-ref/source/index.rst
  doc/source/conf.py
  doc/source/index.rst
  releasenotes/source/conf.py
  releasenotes/source/index.rst
Due: none

Create sample scripts for generating k8s upgrade patches
  patch-scripts/kube-upgrade/KUBE.1.preapply
  patch-scripts/kube-upgrade/KUBE.1.preremove
  patch-scripts/kube-upgrade/KUBE.2.preapply
  patch-scripts/kube-upgrade/KUBE.2.preremove
  patch-scripts/kube-upgrade/make_kube_patch.sh
Due: none
