Repository starlingx/update: changes, and which Zuul jobs are due for each by the changed paths.
All: patch-tox-pylint, patch-tox-py27, patch-tox-py36, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

Path conditions:
  patch-tox-pylint: any of: cgcs-patch/cgcs-patch/*
  patch-tox-py27: any of: cgcs-patch/cgcs-patch/*
  patch-tox-py36: any of: cgcs-patch/cgcs-patch/*
  patch-alarm-tox-pylint: any of: patch-alarm/patch-alarm/*
  patch-alarm-tox-py27: any of: patch-alarm/patch-alarm/*
  patch-alarm-tox-py36: any of: patch-alarm/patch-alarm/*

First system load-delete failed after upgrade SX
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
Due: patch-tox-pylint, patch-tox-py27, patch-tox-py36

py3: Add support for python3.9
  .zuul.yaml
  cgcs-patch/cgcs-patch/tox.ini
  patch-alarm/patch-alarm/tox.ini
Due: patch-tox-pylint, patch-tox-py27, patch-tox-py36, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

sw-patch: remove explicit bind on outgoing socket.
  cgcs-patch/cgcs-patch/cgcs_patch/base.py
Due: patch-tox-pylint, patch-tox-py27, patch-tox-py36

Fix pylint
  .zuul.yaml
Due: none

Add pylint py3 portability checks for the update repo
  cgcs-patch/cgcs-patch/pylint.rc
  patch-alarm/patch-alarm/pylint.rc
Due: patch-tox-pylint, patch-tox-py27, patch-tox-py36, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

Fix unit tests
  cgcs-patch/cgcs-patch/tox.ini
  patch-alarm/patch-alarm/tox.ini
Due: patch-tox-pylint, patch-tox-py27, patch-tox-py36, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

Removing py36 gates from zuul for update
  .zuul.yaml
Due: none

Add debian_build_layer.cfg file
  debian_build_layer.cfg
Due: none

Add debian packaging for cgcs-patch
  cgcs-patch/debian/deb_folder/cgcs-patch-agent.dirs
  cgcs-patch/debian/deb_folder/cgcs-patch-agent.install
  cgcs-patch/debian/deb_folder/cgcs-patch-agent.lintian-overrides
  cgcs-patch/debian/deb_folder/cgcs-patch-controller.dirs
  cgcs-patch/debian/deb_folder/cgcs-patch-controller.install
  cgcs-patch/debian/deb_folder/cgcs-patch-controller.lintian-overrides
  cgcs-patch/debian/deb_folder/cgcs-patch.dirs
  cgcs-patch/debian/deb_folder/cgcs-patch.install
  cgcs-patch/debian/deb_folder/cgcs-patch.lintian-overrides
  cgcs-patch/debian/deb_folder/changelog
  cgcs-patch/debian/deb_folder/control
  cgcs-patch/debian/deb_folder/copyright
  cgcs-patch/debian/deb_folder/python3-cgcs-patch.install
  cgcs-patch/debian/deb_folder/rules
  cgcs-patch/debian/deb_folder/source/format
  cgcs-patch/debian/deb_folder/source/options
  cgcs-patch/debian/dl_hook
  cgcs-patch/debian/meta_data.yaml
  debian_pkg_dirs
Due: none

Fix cgcs-patch build failures
  cgcs-patch/debian/deb_folder/cgcs-patch-agent.lintian-overrides
  cgcs-patch/debian/deb_folder/cgcs-patch-controller.lintian-overrides
  cgcs-patch/debian/deb_folder/cgcs-patch.lintian-overrides
  cgcs-patch/debian/deb_folder/changelog
  cgcs-patch/debian/deb_folder/control
  cgcs-patch/debian/meta_data.yaml
Due: none

Re-enable important py3k checks for update
  cgcs-patch/cgcs-patch/cgcs_make_patch/make_patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
  cgcs-patch/cgcs-patch/pylint.rc
  cgcs-patch/cgcs-patch/pylint_make_patch.rc
Due: patch-tox-pylint, patch-tox-py27, patch-tox-py36

Add debian_iso_image.inc file
  debian_iso_image.inc
Due: none

Prepare upgrade to OSTree enabled distribution
  cgcs-patch/bin/upgrade-start-pkg-extract
Due: none

Add Debian packaging for patch packages
  debian_pkg_dirs
  enable-dev-patch/debian/deb_folder/changelog
  enable-dev-patch/debian/deb_folder/control
  enable-dev-patch/debian/deb_folder/copyright
  enable-dev-patch/debian/deb_folder/enable-dev-patch.install
  enable-dev-patch/debian/deb_folder/rules
  enable-dev-patch/debian/deb_folder/source/format
  enable-dev-patch/debian/meta_data.yaml
  patch-alarm/debian/deb_folder/changelog
  patch-alarm/debian/deb_folder/control
  patch-alarm/debian/deb_folder/copyright
  patch-alarm/debian/deb_folder/python3-patch-alarm-wheels.install
  patch-alarm/debian/deb_folder/python3-patch-alarm.install
  patch-alarm/debian/deb_folder/rules
  patch-alarm/debian/deb_folder/source/format
  patch-alarm/debian/dl_hook
  patch-alarm/debian/meta_data.yaml
Due: none

cgcs-patch: remove dl_hook
  cgcs-patch/debian/dl_hook
  cgcs-patch/debian/meta_data.yaml
Due: none

Update .gitreview for r/stx.6.0
  .gitreview
Due: none

Adding rpm-python to bindep to fix pylint
  bindep.txt
  test-requirements.txt
  tox.ini
Due: none

Update bindep to pass zuul on ubuntu workers
  bindep.txt
  cgcs-patch/cgcs-patch/cgcs_patch/constants.py
  cgcs-patch/cgcs-patch/tox.ini
Due: patch-tox-pylint, patch-tox-py27, patch-tox-py36

relocate /www to /var/www
  cgcs-patch/bin/sw-patch-controller-init.sh
  cgcs-patch/bin/sw-patch.completion
  cgcs-patch/bin/upgrade-start-pkg-extract
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
Due: patch-tox-pylint, patch-tox-py27, patch-tox-py36

relocate /pxeboot to /var/pxeboot
  cgcs-patch/bin/upgrade-start-pkg-extract
Due: none

Correct package selection during upgrade-start-pkg-extract
  cgcs-patch/bin/upgrade-start-pkg-extract
Due: none

Fix lintian error
  cgcs-patch/debian/deb_folder/cgcs-patch-controller.dirs
  cgcs-patch/debian/deb_folder/cgcs-patch-controller.install
  cgcs-patch/debian/deb_folder/rules
Due: none

patch-alarm: remove dl_hook
  patch-alarm/debian/dl_hook
  patch-alarm/debian/meta_data.yaml
Due: none

Patch script for restarting kubelet and isolcpus_plugin services
  centos_pkg_dirs
  patch-scripts/EXAMPLE_KUBELET/centos/EXAMPLE_KUBELET.spec
  patch-scripts/EXAMPLE_KUBELET/centos/build_srpm.data
  patch-scripts/EXAMPLE_KUBELET/scripts/kubelet-restart-example
Due: none

Update kubelet patch restarting script to check running version
  patch-scripts/EXAMPLE_KUBELET/scripts/kubelet-restart-example
Due: none

debian: Ensure cgcs-patch services are running
  cgcs-patch/debian/deb_folder/cgcs-patch.install
  cgcs-patch/debian/deb_folder/systemd/00-cgcs-patch.preset
Due: none

Python3 fixes for Debian patch upload
  sw-patch/cgcs-patch/cgcs_patch/api/controllers/root.py
Due: none

Debian: Fix dev certificate handling for patching
  sw-patch/cgcs-patch/cgcs_patch/patch_verify.py
Due: none

Debian: Cleanup systemd errors for sw-patch.service
  sw-patch/bin/sw-patch.service
Due: none

Remove rpm imports from debian patching code
  sw-patch/bin/sw-patch-controller-init.sh
  sw-patch/cgcs-patch/cgcs_patch/exceptions.py
  sw-patch/cgcs-patch/cgcs_patch/patch_controller.py
  sw-patch/cgcs-patch/cgcs_patch/patch_functions.py
  sw-patch/cgcs-patch/cgcs_patch/tests/test_basics.py
  sw-patch/cgcs-patch/cgcs_patch/tests/test_patch_agent.py
  sw-patch/cgcs-patch/cgcs_patch/tests/test_patch_controller.py
  sw-patch/cgcs-patch/pylint.rc
Due: none

Stage the sw-patch bash completion properly on debian
  sw-patch/debian/deb_folder/cgcs-patch-controller.dirs
  sw-patch/debian/deb_folder/cgcs-patch-controller.install
  sw-patch/debian/deb_folder/rules
Due: none

Setup debian patching scripts
  sw-patch/bin/setup_patch_repo
  sw-patch/scripts/make_patch.sh
  sw-patch/scripts/modify_patch.sh
  sw-patch/scripts/patch_build.sh
  sw-patch/scripts/query_patch.sh
  sw-patch/scripts/setup_patch_repo.sh
Due: none

Update PatchData Object and parse Debian metadata
  sw-patch/bin/setup_patch_repo
  sw-patch/cgcs-patch/cgcs_patch/patch_controller.py
  sw-patch/cgcs-patch/cgcs_patch/patch_functions.py
  sw-patch/cgcs-patch/cgcs_patch/tests/test_patch_utils.py
Due: none

Cleanup tox targets for debian patching
  sw-patch/cgcs-patch/cgcs_patch/authapi/hooks.py
  sw-patch/cgcs-patch/cgcs_patch/config.py
  sw-patch/cgcs-patch/cgcs_patch/patch_controller.py
  sw-patch/cgcs-patch/cgcs_patch/patch_signing.py
  sw-patch/cgcs-patch/cgcs_patch/tests/test_patch_agent.py
  sw-patch/cgcs-patch/cgcs_patch_id/patch_id_allocator.py
  sw-patch/cgcs-patch/cgcs_patch_id/patch_id_allocator_server.py
  sw-patch/cgcs-patch/pylint.rc
  sw-patch/cgcs-patch/tox.ini
Due: none

Store ostree tarball (software.tar) during patch upload
  sw-patch/cgcs-patch/cgcs_patch/exceptions.py
  sw-patch/cgcs-patch/cgcs_patch/patch_controller.py
  sw-patch/cgcs-patch/cgcs_patch/patch_functions.py
Due: none

Adding a temporary test patch creation utility
  sw-patch/scripts/make_test_patch.py
Due: none

Debian Patch Apply
  sw-patch/cgcs-patch/cgcs_patch/constants.py
  sw-patch/cgcs-patch/cgcs_patch/exceptions.py
  sw-patch/cgcs-patch/cgcs_patch/patch_controller.py
  sw-patch/cgcs-patch/cgcs_patch/patch_functions.py
Due: none

Debian Patch Delete
  sw-patch/cgcs-patch/cgcs_patch/patch_controller.py
Due: none

Debian: Remove dnf calls from sw-patch
  sw-patch/cgcs-patch/cgcs_patch/patch_agent.py
  sw-patch/cgcs-patch/cgcs_patch/patch_client.py
  sw-patch/cgcs-patch/cgcs_patch/patch_functions.py
  sw-patch/cgcs-patch/cgcs_patch/tests/test_patch_agent.py
  sw-patch/cgcs-patch/pylint.rc
Due: none
