Repository starlingx/update: changes, and which Zuul jobs are due for each by the changed paths.
All: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36, patch-alarm-tox-flake8, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

patch-tox-flake8:
  parent: tox
  required-projects:
  - starlingx/config
  - starlingx/fault
  vars:
    tox_envlist: flake8
    tox_extra_args: -c cgcs-patch/cgcs-patch/tox.ini

patch-tox-pylint:
  parent: tox
  required-projects:
  - starlingx/config
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c cgcs-patch/cgcs-patch/tox.ini

patch-tox-py27:
  parent: tox
  required-projects:
  - starlingx/config
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c cgcs-patch/cgcs-patch/tox.ini

patch-tox-py36:
  parent: tox
  required-projects:
  - starlingx/config
  - starlingx/fault
  vars:
    tox_envlist: py36
    tox_extra_args: -c cgcs-patch/cgcs-patch/tox.ini

patch-alarm-tox-flake8:
  parent: tox
  required-projects:
  - starlingx/config
  - starlingx/fault
  vars:
    tox_envlist: flake8
    tox_extra_args: -c patch-alarm/patch-alarm/tox.ini

patch-alarm-tox-pylint:
  parent: tox
  required-projects:
  - starlingx/config
  - starlingx/fault
  vars:
    tox_envlist: pylint
    tox_extra_args: -c patch-alarm/patch-alarm/tox.ini

patch-alarm-tox-py27:
  parent: tox
  required-projects:
  - starlingx/config
  - starlingx/fault
  vars:
    tox_envlist: py27
    tox_extra_args: -c patch-alarm/patch-alarm/tox.ini

patch-alarm-tox-py36:
  parent: tox
  required-projects:
  - starlingx/config
  - starlingx/fault
  vars:
    tox_envlist: py36
    tox_extra_args: -c patch-alarm/patch-alarm/tox.ini

Update flake8 to verify patch scripts
  .zuul.yaml
  cgcs-patch/cgcs-patch/tox.ini
  patch-alarm/patch-alarm/tox.ini
  patch-scripts/kube-upgrade/KUBE.1.preapply
  patch-scripts/kube-upgrade/KUBE.1.preremove
  patch-scripts/kube-upgrade/KUBE.2.preapply
  patch-scripts/kube-upgrade/KUBE.2.preremove
  test-requirements.txt
  tox.ini
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36, patch-alarm-tox-flake8, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

Security: Allow disabling of spectre v1 swapgs mitigation
  tsconfig/centos/build_srpm.data
  tsconfig/tsconfig/tsconfig/tests/test_basics.py
Due: none

CentOS 8: update cgcs-patch to use python3
  cgcs-patch/bin/make_patch
  cgcs-patch/bin/modify_patch
  cgcs-patch/bin/patch_build
  cgcs-patch/bin/query_patch
  cgcs-patch/bin/setup_patch_repo
  cgcs-patch/bin/sw-patch
  cgcs-patch/bin/sw-patch-agent
  cgcs-patch/bin/sw-patch-controller-daemon
  cgcs-patch/centos/build_srpm
  cgcs-patch/centos/cgcs-patch.spec
  cgcs-patch/cgcs-patch/cgcs_patch_id/patch_id_allocator.py
  cgcs-patch/cgcs-patch/cgcs_patch_id/patch_id_allocator_client.py
  cgcs-patch/cgcs-patch/cgcs_patch_id/patch_id_allocator_server.py
  cgcs-patch/cgcs-patch/setup.py
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

Adding job to upload commits to GitHub
  .zuul.yaml
Due: none

Add setup_patch_repo.sh for patch-iso
  extras/scripts/setup_patch_repo.sh
Due: none

Update upgrade-start-pkg-extract to use dnf package
  cgcs-patch/bin/upgrade-start-pkg-extract
Due: none

De-branding in starlingx/update: Titanium Cloud -> StarlingX
  enable-dev-patch/centos/enable-dev-patch.spec
Due: none

Update scripts that build k8s upgrade patches
  patch-scripts/kube-upgrade/make_kube_patch.sh
Due: none

Update scripts that build k8s upgrade patches - part 2
  patch-scripts/kube-upgrade/KUBE.1.preapply
  patch-scripts/kube-upgrade/KUBE.1.preremove
  patch-scripts/kube-upgrade/KUBE.2.preapply
  patch-scripts/kube-upgrade/KUBE.2.preremove
Due: none

Update DNF transaction exception handling
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

De-branding in starlingx/update: TIS -> StarlingX
  cgcs-patch/bin/sw-patch-agent.service
  cgcs-patch/bin/sw-patch-controller-daemon.service
  cgcs-patch/bin/sw-patch-controller.service
  cgcs-patch/bin/sw-patch.service
Due: none

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Protect against stale repo data in DNF cache
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

Use PKG_GITREVCOUNT for package versions
  cgcs-patch/LICENSE
  cgcs-patch/PKG-INFO
  cgcs-patch/centos/build_srpm
  cgcs-patch/centos/build_srpm.data
  cgcs-patch/centos/cgcs-patch.spec
  patch-alarm/LICENSE
  patch-alarm/PKG-INFO
  patch-alarm/centos/build_srpm
  patch-alarm/centos/build_srpm.data
  patch-alarm/centos/patch-alarm.spec
Due: none

Disable py3-bandit and py3-flake8 zuul jobs
  .zuul.yaml
Due: none

Enable py3-bandit and py3-flake8 zuul jobs
  .zuul.yaml
  test-requirements.txt
  tox.ini
Due: none

Update .gitreview for r/stx.4.0
  .gitreview
Due: none

Fix UNREMOVABLE parsing in make_patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_make_patch/make_patch_functions.py
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

Update kubernetes patch creation script
  patch-scripts/kube-upgrade/make_kube_patch.sh
Due: none

Fix setup_patch_repo error string
  cgcs-patch/bin/setup_patch_repo
Due: none

Add an example restart script for distributed cloud
  centos_pkg_dirs
  patch-scripts/EXAMPLE_DC/centos/EXAMPLE_DC.spec
  patch-scripts/EXAMPLE_DC/centos/build_srpm.data
  patch-scripts/EXAMPLE_DC/scripts/distcloud-restart-example
Due: none

Ignore pylint W0707 warnings in cgcs-patch
  cgcs-patch/cgcs-patch/pylint.rc
  cgcs-patch/cgcs-patch/pylint_make_patch.rc
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

Add protection against duplicate RPMs
  cgcs-patch/bin/sw-patch-init.sh
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

Add auto-version for remaining stx/update packages
  enable-dev-patch/centos/build_srpm.data
  patch-scripts/EXAMPLE_0001/centos/build_srpm.data
  patch-scripts/EXAMPLE_0002/centos/build_srpm.data
  patch-scripts/EXAMPLE_DC/centos/build_srpm.data
  patch-scripts/EXAMPLE_MTCE/centos/build_srpm.data
  patch-scripts/EXAMPLE_RR/centos/build_srpm.data
  patch-scripts/EXAMPLE_SERVICE/centos/build_srpm.data
  patch-scripts/EXAMPLE_SYSINV/centos/build_srpm.data
  patch-scripts/EXAMPLE_VIM/centos/build_srpm.data
  patch-scripts/test-patches-suite-b/SUITE_B_KERNEL/centos/build_srpm.data
  patch-scripts/test-patches-suite-b/SUITE_B_PATCH_A/centos/build_srpm.data
  patch-scripts/test-patches-suite-b/SUITE_B_PATCH_B/centos/build_srpm.data
  patch-scripts/test-patches-suite-b/SUITE_B_PATCH_C/centos/build_srpm.data
  patch-scripts/test-patches-suite-b/SUITE_B_PATCH_D/centos/build_srpm.data
  patch-scripts/test-patches-suite-b/SUITE_B_PATCH_E/centos/build_srpm.data
  patch-scripts/test-patches-suite-b/SUITE_B_PATCH_F/centos/build_srpm.data
  patch-scripts/test-patches/A/centos/build_srpm.data
  patch-scripts/test-patches/B/centos/build_srpm.data
  patch-scripts/test-patches/C/centos/build_srpm.data
  patch-scripts/test-patches/INSVC_ALLNODES/centos/build_srpm.data
  patch-scripts/test-patches/INSVC_COMPUTE/centos/build_srpm.data
  patch-scripts/test-patches/INSVC_CONTROLLER/centos/build_srpm.data
  patch-scripts/test-patches/INSVC_RESTART_FAILURE/centos/build_srpm.data
  patch-scripts/test-patches/INSVC_STORAGE/centos/build_srpm.data
  patch-scripts/test-patches/LARGE/centos/build_srpm.data
  patch-scripts/test-patches/RR_ALLNODES/centos/build_srpm.data
  patch-scripts/test-patches/RR_COMPUTE/centos/build_srpm.data
  patch-scripts/test-patches/RR_CONTROLLER/centos/build_srpm.data
  patch-scripts/test-patches/RR_STORAGE/centos/build_srpm.data
Due: none

Fix exclusion paths in cgcs-patch build_srpm.data
  cgcs-patch/centos/build_srpm.data
Due: none

Cap bandit to v1.6.2
  test-requirements.txt
Due: none

add dcmanager-audit-worker to sample restart script
  patch-scripts/EXAMPLE_DC/scripts/distcloud-restart-example
Due: none

Update .gitreview for r/stx.5.0
  .gitreview
Due: none

Specify the nodeset zuul jobs
  .zuul.yaml
  cgcs-patch/cgcs-patch/pylint.rc
  cgcs-patch/cgcs-patch/test-requirements.txt
  cgcs-patch/cgcs-patch/tox.ini
  patch-alarm/patch-alarm/patch_alarm/patch_alarm_manager.py
  tox.ini
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36, patch-alarm-tox-flake8, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

Add a utility for extracting patch software version
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

Convert sw-patch to use python3
  cgcs-patch/centos/cgcs-patch.spec
  cgcs-patch/cgcs-patch/cgcs_patch/config.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_agent.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_client.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_controller.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_functions.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_signing.py
  cgcs-patch/cgcs-patch/cgcs_patch/patch_verify.py
  cgcs-patch/cgcs-patch/requirements.txt
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

Update test-requirements
  patch-alarm/patch-alarm/test-requirements.txt
Due: patch-alarm-tox-flake8, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

Changed dependencies for cgcs-patch pkgs
  cgcs-patch/cgcs-patch/setup.cfg
  cgcs-patch/cgcs-patch/setup.py
Due: patch-tox-flake8, patch-tox-pylint, patch-tox-py27, patch-tox-py36

Fix python3 issue in patch-alarm-manager.
  patch-alarm/patch-alarm/patch_alarm/patch_alarm_manager.py
Due: patch-alarm-tox-flake8, patch-alarm-tox-pylint, patch-alarm-tox-py27, patch-alarm-tox-py36

Clear dnf cache before extracting packages during upgrade-start
  cgcs-patch/bin/upgrade-start-pkg-extract
Due: none

Add cryptodomex dependency
  cgcs-patch/centos/cgcs-patch.spec
Due: none

Path conditions:
  patch-tox-flake8: any of: cgcs-patch/cgcs-patch/*
  patch-tox-pylint: any of: cgcs-patch/cgcs-patch/*
  patch-tox-py27: any of: cgcs-patch/cgcs-patch/*
  patch-tox-py36: any of: cgcs-patch/cgcs-patch/*
  patch-alarm-tox-flake8: any of: patch-alarm/patch-alarm/*
  patch-alarm-tox-pylint: any of: patch-alarm/patch-alarm/*
  patch-alarm-tox-py27: any of: patch-alarm/patch-alarm/*
  patch-alarm-tox-py36: any of: patch-alarm/patch-alarm/*
